src/solution/HandsOn_2/IE Flow Creator Flows/flows (2).json
[{"id":"9f80fd1f.3bd908","type":"tab","label":"Data Collection","disabled":false,"info":"msgoutput={}\nmsgoutput.measurement = msg.topic.split('/').pop;\nmsgoutput.payload = {\n    serverTimestamp: msg.payload.ts.toISOString(),\n    value: Math.round(msg.payload.val * 1e2)/ 1e2,\n    name: msgoutput.measurement,\n}\n\nreturn msgoutput;"},{"id":"dea7ba123be31d79","type":"tab","label":"KPI-Calc-Dummy","disabled":false,"info":""},{"id":"1ff02d49d32ca74f","type":"tab","label":"KPI Estimation","disabled":false,"info":""},{"id":"4ad3ce8d.582c5","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"edgedb","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","rejectUnauthorized":false},{"id":"99d8c9c3d94c327e","type":"OpcUa-Endpoint","endpoint":"opc.tcp://opc-server:4841","secpol":"Basic256","secmode":"SIGN","login":false},{"id":"1ab7e97a.bda1e7","type":"mqtt-broker","name":"Databus","broker":"ie-databus","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"61b74b3d.7a1df4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IE Flow Creator Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"38a14f21.7ff638","type":"link out","z":"9f80fd1f.3bd908","name":"data_gen","links":["684dd35d.22d42c","70b8ec30.c1ee84"],"x":1215,"y":480,"wires":[]},{"id":"20da19e9.da8926","type":"mqtt in","z":"9f80fd1f.3bd908","name":"FA_Drives-Data source","topic":"ie/d/j/simatic/v1/s7c1/dp/r/FA_Drives/default","qos":"2","datatype":"auto","broker":"1ab7e97a.bda1e7","nl":false,"rap":false,"inputs":0,"x":220,"y":280,"wires":[["971f6ffe.7241f"]]},{"id":"971f6ffe.7241f","type":"function","z":"9f80fd1f.3bd908","name":"Convert S7 Connecor JSON to InfluxDB JSON","func":"var id2NameMap = global.get(\"id2NameMap\")\nvar id2DataTypeMap = global.get(\"id2DataTypeMap\")\n\nmsgoutput={}\n\nlet bulk = JSON.parse(msg.payload);\n//node.warn(bulk)\nmsgoutput.payload = new Array(bulk.vals.size);\n\nfor (var i = 0; i < bulk.vals.length; i++) {\n    record = bulk.vals[i]\n\n    msgoutput.payload[i] = {\n        measurement: id2NameMap.get(record.id),\n        fields: {\n            value: Math.round(record.val * 1e2)/ 1e2,\n            name: id2NameMap.get(record.id),\n            qualitycode: false\n        },\n        timestamp: new Date(record.ts)\n    }\n    \n}\n\nreturn msgoutput;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":280,"wires":[["d20bf630.ac7c98","50556ca2.120a8c","6d21e9a.2814a98"]]},{"id":"93f44c93.8b63e","type":"comment","z":"9f80fd1f.3bd908","name":"### Map variable id to variable name so that it is human readable ###","info":"","x":370,"y":40,"wires":[]},{"id":"fdc0f327.a560a","type":"mqtt in","z":"9f80fd1f.3bd908","name":"","topic":"ie/m/j/simatic/v1/s7c1/dp","qos":"2","datatype":"auto","broker":"1ab7e97a.bda1e7","nl":false,"rap":false,"inputs":0,"x":270,"y":100,"wires":[["b18c8995.ce3c7","43428e95.c95d58"]]},{"id":"b18c8995.ce3c7","type":"function","z":"9f80fd1f.3bd908","name":"","func":"var id2NameMap = global.get(\"id2NameMap\")\nvar id2DataTypeMap = global.get(\"id2DataTypeMap\")\n\nif(id2NameMap == undefined || id2DataTypeMap == undefined ){\n    id2NameMap = new Map(); \n    id2DataTypeMap = new Map(); \n}\n\nlet connectionName = \"FA_Drives\"; // Name of the connection\n\n\nlet m = JSON.parse(msg.payload);\n\n\n// Mapping ID -> Variable Name\n// Mapping ID -> Variable Data Type\nm.connections.forEach(connection => \n{\n    if(connection.name == connectionName) {\n        let datapointobjects = connection.dataPoints;\n        \n        datapointobjects.forEach( datapoint => {\n            datapoint.dataPointDefinitions.forEach( definition => {\n                id2NameMap.set(definition.id, definition.name) // Mapping ID -> Variable Name\n                id2DataTypeMap.set(definition.id, definition.dataType) // Mapping ID -> Variable Data Type \n            })\n           \n        })\n    }\n    \n})\n\nglobal.set(\"id2NameMap\", id2NameMap)\nglobal.set(\"id2DataTypeMap\", id2DataTypeMap)\n\nmsg.payload = id2NameMap\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":140,"wires":[["43428e95.c95d58"]]},{"id":"43428e95.c95d58","type":"debug","z":"9f80fd1f.3bd908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":100,"wires":[]},{"id":"5c1c9dcd.546984","type":"comment","z":"9f80fd1f.3bd908","name":"### Retrieve data from S7 connector and replace variable ID with variable Name and puslish as Array ###","info":"","x":480,"y":220,"wires":[]},{"id":"d20bf630.ac7c98","type":"debug","z":"9f80fd1f.3bd908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":280,"wires":[]},{"id":"50556ca2.120a8c","type":"influxdb batch","z":"9f80fd1f.3bd908","influxdb":"4ad3ce8d.582c5","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"siemens","bucket":"edgedb","x":1030,"y":360,"wires":[]},{"id":"6d21e9a.2814a98","type":"split","z":"9f80fd1f.3bd908","name":"Split S7 Array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":910,"y":480,"wires":[["856fe367.acffd8"]]},{"id":"856fe367.acffd8","type":"function","z":"9f80fd1f.3bd908","name":"Split formatting","func":"var msgoutput = msg.payload\nreturn msgoutput;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":480,"wires":[["38a14f21.7ff638"]]},{"id":"32a48b8c.b60274","type":"comment","z":"9f80fd1f.3bd908","name":"### Please wait till 50 values are retrived so that you can see the results in the Grafana view ###","info":"","x":390,"y":420,"wires":[]},{"id":"5baa825a.490d5c","type":"comment","z":"9f80fd1f.3bd908","name":"### Connection error on MQTT nodes  please do the following steps ###","info":"","x":310,"y":460,"wires":[]},{"id":"6d514375.dddf04","type":"comment","z":"9f80fd1f.3bd908","name":"### 1. Open configuration node view ###","info":"","x":220,"y":500,"wires":[]},{"id":"fea16ee2.9b9548","type":"comment","z":"9f80fd1f.3bd908","name":"### 2. Double-Click on Databus node and select tab security###","info":"","x":290,"y":540,"wires":[]},{"id":"c946b764.ac1338","type":"comment","z":"9f80fd1f.3bd908","name":"### 3. Enter user 'edge' and password 'edge' ###","info":"","x":240,"y":580,"wires":[]},{"id":"3bea85d5.8166ea","type":"comment","z":"9f80fd1f.3bd908","name":"### 4. Click 'Finish' and deploy flows again ###","info":"","x":240,"y":620,"wires":[]},{"id":"1dc8ab6f6c798cd0","type":"comment","z":"dea7ba123be31d79","name":"Calculate Total Power Consumption","info":"","x":800,"y":60,"wires":[]},{"id":"6726cfec65dd5691","type":"function","z":"dea7ba123be31d79","name":"Query-List","func":"var a ='\"name\"'\n//msg.query=\"select * from powerdrive1 where \"+a+\"='powerdrive1'\"\nmsg.query= `from(bucket: \"edgedb\")\n  |> range(start: -5h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"powerdrive1\")\n  |> last()`;\nreturn msg; \n/*\nCLI-Funktionen f?r die Influxdb (Auszug)\n\"select * from data1\"\n//Zeigt alle Daten im measuurement an\nSELECT * FROM data where time > '2018-08-09T08:20:39.96Z' and time <= now()\n//Anzeige der measuremebts in einem bestimmten Zeitraum\nselect * from data where value > 80 and value < 85 \n//Filterung der Daten nach Value \n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":160,"wires":[["9866b558eaf9206e"]]},{"id":"eb53ac8286464e9a","type":"function","z":"dea7ba123be31d79","name":"Query-List","func":"var a ='\"name\"'\n//msg.query=\"select * from powerdrive2 where \"+a+\"='powerdrive2'\"\nmsg.query= `from(bucket: \"edgedb\")\n  |> range(start: -5m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"powerdrive2\")\n  |> last()`;\nreturn msg; \n\n\n/*\nCLI-Funktionen f?r die Influxdb (Auszug)\n\"select * from data1\"\n//Zeigt alle Daten im measuurement an\nSELECT * FROM data where time > '2018-08-09T08:20:39.96Z' and time <= now()\n//Anzeige der measuremebts in einem bestimmten Zeitraum\nselect * from data where value > 80 and value < 85 \n//Filterung der Daten nach Value \n*/\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":220,"wires":[["d38c1f52a24f86a3"]]},{"id":"d38c1f52a24f86a3","type":"influxdb in","z":"dea7ba123be31d79","influxdb":"4ad3ce8d.582c5","name":"influxdb_query_power2","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"siemens","x":490,"y":220,"wires":[["526f2f9454f09f15","2ff62d8158be2082"]]},{"id":"526f2f9454f09f15","type":"function","z":"dea7ba123be31d79","name":"collect_last_power_values","func":"context.data = context.data || {};\n\nswitch (msg.payload[0]._measurement) \n{\n    case \"powerdrive1\":\n        context.data.power1 = msg.payload[2]._value;\n        msg = null;\n        break;\n    case \"powerdrive2\":\n        context.data.power2= msg.payload[2]._value;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.power1 !== null && context.data.power2 !== null) \n{\n\tmsg2 = {};\n    msg2 = context.data;\n\n    context.data=null;\n\treturn msg2;\n} \nelse\n{\n    \n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":220,"wires":[["b74b7599f3f0993b","9717a42cafcca5a6"]]},{"id":"12a39bbfb71f42dc","type":"function","z":"dea7ba123be31d79","name":"join_and_write_power_Influxdb","func":"total = msg.payload;\n\n\n    Beta = [{\n        measurement: \"GEN_KPI_TotalPower\",\n        fields:{\n            name: \"TotalPower\",\n            value:total,\n            //weitereTags: -100 //(optional) nur 4 Datatypes sind in der Influxdb akzeptiert: Int,Float,String, Bool\n        },\n        timestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":220,"wires":[["8e8e29b83ba9cc58","958393419c495339"]]},{"id":"958393419c495339","type":"influxdb batch","z":"dea7ba123be31d79","influxdb":"4ad3ce8d.582c5","precision":"","retentionPolicy":"","name":"influxdb_write","database":"","retentionPolicyV18Flux":"","org":"siemens","bucket":"edgedb","x":1520,"y":180,"wires":[]},{"id":"9866b558eaf9206e","type":"influxdb in","z":"dea7ba123be31d79","influxdb":"4ad3ce8d.582c5","name":"influxdb_query_power1","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"siemens","x":490,"y":160,"wires":[["526f2f9454f09f15","2ff62d8158be2082"]]},{"id":"6464c1e5620091ab","type":"link in","z":"dea7ba123be31d79","name":"","links":["3e5dc939.97a5b6","9b04ae5c146d6e04","ec0a8c21a559af29"],"x":135,"y":220,"wires":[["6726cfec65dd5691","eb53ac8286464e9a"]]},{"id":"b74b7599f3f0993b","type":"function","z":"dea7ba123be31d79","name":"sum_total_power","func":"var arr = [];\nvar mean=0;\nvar sum=0;\n\narr = Object.keys(msg).map(function(key) {\n    return msg[key]\n    })\narr.splice(-1,1)\n\nfor(var i=0; i < arr.length ; i++){\n      sum = sum + arr[i];\n}\n// mean = sum / arr.length; \n\nmsg2 = new Object();\n//msg2.payload = (arr[0] + arr[1] + arr[2]) / arr.length; \n\nmsg2.payload = sum;\nreturn msg2;","outputs":1,"noerr":0,"x":1010,"y":220,"wires":[["12a39bbfb71f42dc"]]},{"id":"8e8e29b83ba9cc58","type":"debug","z":"dea7ba123be31d79","name":"KPI-Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1510,"y":260,"wires":[]},{"id":"9717a42cafcca5a6","type":"debug","z":"dea7ba123be31d79","name":"Last Power Values","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":160,"wires":[]},{"id":"6c18949fa36e4702","type":"debug","z":"dea7ba123be31d79","name":"KPI-Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":300,"wires":[]},{"id":"2ff62d8158be2082","type":"function","z":"dea7ba123be31d79","name":"collect_last_power_values","func":"context.data = context.data || {};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":380,"wires":[["6c18949fa36e4702"]]},{"id":"c17d056bfe661bfb","type":"influxdb in","z":"1ff02d49d32ca74f","influxdb":"4ad3ce8d.582c5","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"siemens","x":850,"y":160,"wires":[["97ada85a60986d3d"]]},{"id":"9b5137fe35c23cc3","type":"debug","z":"1ff02d49d32ca74f","name":"count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":120,"wires":[]},{"id":"be3b1e8c001db67a","type":"link in","z":"1ff02d49d32ca74f","name":"input_raw_data","links":["9b04ae5c146d6e04","ec0a8c21a559af29"],"x":55,"y":160,"wires":[["be65079f10c41189"]]},{"id":"d6aab803fa50ad71","type":"influxdb in","z":"1ff02d49d32ca74f","influxdb":"4ad3ce8d.582c5","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"siemens","x":450,"y":160,"wires":[["9b5137fe35c23cc3","efd211984f39259b"]]},{"id":"bc7a2fd3027075e7","type":"function","z":"1ff02d49d32ca74f","name":"COUNT","func":"msgQueryCount = {}\nmsgQueryCount.measurement = msg.payload[0].measurement\n//msgQueryCount.query = 'SELECT COUNT(\"value\") FROM ' + msg.payload[0].measurement\n\nmsgQueryCount.query= `from(bucket: \"edgedb\")\n  |> range(start: -5h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"powerdrive1\" or r[\"_measurement\"] == \"powerdrive2\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> count()`;\nreturn msgQueryCount;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":160,"wires":[["d6aab803fa50ad71"]]},{"id":"efd211984f39259b","type":"function","z":"1ff02d49d32ca74f","name":"GET_LAST_ENTRIES","func":"msgQueryGet = {}\nmsgQueryGet.measurement = msg.measurement\nif (msg.payload[0]._value >= 50) {\n    //msgQueryGet.query = 'SELECT * FROM ' + msg.measurement + ' ORDER BY time DESC limit 50'\n    msgQueryGet.query= `from(bucket: \"edgedb\")\n                      |> range(start: -5h)\n                      |> filter(fn: (r) => r[\"_measurement\"] == \"${msg.measurement}\")\n                      |> filter(fn: (r) => r[\"_field\"] == \"value\")\n                      |> sort(columns: [\"_time\"], desc: true)\n                      |> limit(n: 50)\n                      |> group()`;\n    return msgQueryGet;\n}\n\nelse {msgQueryGet.query= `from(bucket: \"edgedb\")\n              |> range(start: -5h)\n              |> filter(fn: (r) => r[\"_measurement\"] == \"${msg.measurement}\")\n              |> filter(fn: (r) => r[\"_field\"] == \"value\")\n              |> sort(columns: [\"_time\"], desc: true)\n              |> group()`;\n    return msgQueryGet;\n    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":160,"wires":[["c17d056bfe661bfb"]]},{"id":"3d1da20cd6c1a172","type":"comment","z":"1ff02d49d32ca74f","name":"### check if measurement has enough entries and get last 5 values if true","info":"","x":320,"y":20,"wires":[]},{"id":"22c5dc214c72eeb6","type":"mqtt out","z":"1ff02d49d32ca74f","name":"StandardKpis","topic":"StandardKpis","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ab7e97a.bda1e7","x":1220,"y":160,"wires":[]},{"id":"97ada85a60986d3d","type":"json","z":"1ff02d49d32ca74f","name":"","property":"payload","action":"obj","pretty":false,"x":990,"y":160,"wires":[["98936ecf14b1220d","22c5dc214c72eeb6"]]},{"id":"98936ecf14b1220d","type":"debug","z":"1ff02d49d32ca74f","name":"response_get","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":220,"wires":[]},{"id":"ad4f6d543b736f83","type":"comment","z":"1ff02d49d32ca74f","name":"PowerDrive1 and PowerDrive2 last 50 entries","info":"","x":210,"y":80,"wires":[]},{"id":"b92d4778a8765068","type":"influxdb in","z":"1ff02d49d32ca74f","influxdb":"4ad3ce8d.582c5","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"siemens","x":830,"y":400,"wires":[["da5a71e0e50b6a2d"]]},{"id":"3cc3c6c7bd32b8fd","type":"debug","z":"1ff02d49d32ca74f","name":"mqtt output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1340,"y":460,"wires":[]},{"id":"ba68f08c3068d248","type":"influxdb in","z":"1ff02d49d32ca74f","influxdb":"4ad3ce8d.582c5","name":"query","query":"from(bucket: \"edgedb\")\n  |> range(start: -5h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"voltagedrive3\" and (r[\"_field\"] == \"value\"))\n  |> count()","rawOutput":false,"precision":"","retentionPolicy":"","org":"siemens","x":370,"y":400,"wires":[["20e52f8ffc58574b","d96ed1a32f3598d0"]]},{"id":"20e52f8ffc58574b","type":"function","z":"1ff02d49d32ca74f","name":"GET_LAST_ENTRIES","func":"// gets the value of n, if not yet set takes default value 50\nvar n = context.get('sample_n')|| 50;\n\n\n    \n    msgQueryGet = {}\n    //msgQueryGet.measurement = msg.measurement\n    msgQueryGet.measurement = 'voltagedrive3'\n    if (msg.payload[0]._value >= n) {\n        msgQueryGet.SampleNumber = n\n        //msgQueryGet.query = 'SELECT \"value\" FROM voltagedrive3 ORDER BY time DESC limit ' + n\n        msgQueryGet.query= `from(bucket: \"edgedb\")\n                  |> range(start: -5h)\n                  |> filter(fn: (r) => r[\"_measurement\"] == \"voltagedrive3\" and (r[\"_field\"] == \"value\"))\n                  |> sort(columns: [\"_time\"], desc: true)\n                  |> limit(n: 50)`;\n        //msgQueryGet.query = 'SELECT \"value\" FROM ' + msg.measurement + ' limit ' + n\n        return msgQueryGet;\n    }\n    else {\n    msgQueryGet.SampleNumber = n\n    msgQueryGet.query= `from(bucket: \"edgedb\")\n              |> range(start: -5h)\n              |> filter(fn: (r) => r[\"_measurement\"] == \"voltagedrive3\" and (r[\"_field\"] == \"value\"))\n              |> sort(columns: [\"_time\"], desc: true)`;\n        return msgQueryGet;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":400,"wires":[["b92d4778a8765068","a4c2bf56b818a462"]]},{"id":"1a526d08fd3a5196","type":"mqtt out","z":"1ff02d49d32ca74f","name":"Mean","topic":"Mean","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ab7e97a.bda1e7","x":1320,"y":500,"wires":[]},{"id":"bcc37a8b4d68d059","type":"comment","z":"1ff02d49d32ca74f","name":"VoltageDrive3 dynamic sample of entries","info":"","x":490,"y":360,"wires":[]},{"id":"98d95adec7f11faf","type":"influxdb in","z":"1ff02d49d32ca74f","influxdb":"4ad3ce8d.582c5","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"siemens","x":810,"y":600,"wires":[["da5a71e0e50b6a2d"]]},{"id":"3146209b27af0479","type":"influxdb in","z":"1ff02d49d32ca74f","influxdb":"4ad3ce8d.582c5","name":"query","query":"from(bucket: \"edgedb\")\n  |> range(start: -5h)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"currentdrive3\" and (r[\"_field\"] == \"value\"))\n  |> count()","rawOutput":false,"precision":"","retentionPolicy":"","org":"siemens","x":370,"y":600,"wires":[["20cf016df1d2cdd3"]]},{"id":"20cf016df1d2cdd3","type":"function","z":"1ff02d49d32ca74f","name":"GET_LAST_ENTRIES","func":"\n\n// gets the value of n, if not yet set takes default value 50\nvar n = context.get('sample_n')|| 50;\n\n\n    \n    msgQueryGet = {}\n    //msgQueryGet.measurement = msg.measurement\n    msgQueryGet.measurement = 'currentdrive3'\n    if (msg.payload[0]._value >= n) {\n        msgQueryGet.SampleNumber = n\n        //msgQueryGet.query = 'SELECT \"value\" FROM currentdrive3 ORDER BY time DESC limit ' + n\n        msgQueryGet.query= `from(bucket: \"edgedb\")\n          |> range(start: -5h)\n          |> filter(fn: (r) => r[\"_measurement\"] == \"currentdrive3\" and (r[\"_field\"] == \"value\"))\n          |> sort(columns: [\"_time\"], desc: true)\n          |> limit(n: 50)`;\n        //msgQueryGet.query = 'SELECT \"value\" FROM ' + msg.measurement + ' limit ' + n\n        return msgQueryGet;\n    }\n    else {\n    msgQueryGet.SampleNumber = n\n    msgQueryGet.query= `from(bucket: \"edgedb\")\n              |> range(start: -5h)\n              |> filter(fn: (r) => r[\"_measurement\"] == \"currentdrive3\" and (r[\"_field\"] == \"value\"))\n              |> sort(columns: [\"_time\"], desc: true)`;\n        return msgQueryGet;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":600,"wires":[["98d95adec7f11faf"]]},{"id":"8e801bd99a2e77b6","type":"comment","z":"1ff02d49d32ca74f","name":"CurrentDrive3  dynamic sample of entries","info":"","x":490,"y":640,"wires":[]},{"id":"be65079f10c41189","type":"switch","z":"1ff02d49d32ca74f","name":"filter","property":"payload[0].measurement","propertyType":"msg","rules":[{"t":"eq","v":"powerdrive1","vt":"str"},{"t":"eq","v":"powerdrive2","vt":"str"},{"t":"eq","v":"voltagedrive3","vt":"str"},{"t":"eq","v":"currentdrive3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":150,"y":160,"wires":[["bc7a2fd3027075e7"],["bc7a2fd3027075e7"],["ba68f08c3068d248","ba302b24398e65f4"],["3146209b27af0479"]]},{"id":"da5a71e0e50b6a2d","type":"function","z":"1ff02d49d32ca74f","name":"manual_join","func":"var tempo_cd3_batch = context.get('cd3_batch')||[];\nvar tempo_vd3_batch = context.get('vd3_batch')||[];\n\nfunction build_analytics_object(){\n    data_obj = {\n        sample_number : msg.SampleNumber,\n        current_drive3_batch : tempo_cd3_batch,\n        voltage_drive3_batch : tempo_vd3_batch,\n    }\n    return data_obj\n}\n\n\nif (msg.measurement == 'currentdrive3'){\n    tempo_cd3_batch = msg.payload\n    context.set('cd3_batch',tempo_cd3_batch)\n    \n}\nelse if (msg.measurement == 'voltagedrive3') {\n    tempo_vd3_batch = msg.payload\n    context.set('vd3_batch',tempo_vd3_batch)\n}\n\nif (tempo_cd3_batch.length > 0 && tempo_vd3_batch.length >0 ) {\n    py_obj={}\n    py_obj.payload = build_analytics_object()\n    tempo_cd3_batch = []\n    tempo_vd3_batch = []\n    context.set('cd3_batch', tempo_cd3_batch)\n    context.set('vd3_batch', tempo_vd3_batch)\n    \n    return py_obj\n    \n}\n\nelse{\n    return\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":500,"wires":[["3cc3c6c7bd32b8fd","1a526d08fd3a5196"]]},{"id":"7bce0dac6af8be62","type":"mqtt in","z":"1ff02d49d32ca74f","name":"","topic":"StandardKpiResult","qos":"2","datatype":"auto","broker":"1ab7e97a.bda1e7","nl":false,"rap":false,"inputs":0,"x":130,"y":820,"wires":[["78ccf7c99d23ca4d"]]},{"id":"bbcadf72240b8428","type":"debug","z":"1ff02d49d32ca74f","name":"response standard kpis","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":780,"wires":[]},{"id":"78ccf7c99d23ca4d","type":"json","z":"1ff02d49d32ca74f","name":"","property":"payload","action":"","pretty":false,"x":510,"y":820,"wires":[["8f26ae08dabcb38e"]]},{"id":"8f26ae08dabcb38e","type":"function","z":"1ff02d49d32ca74f","name":"store data","func":"my_payload = {};\nmy_payload = msg.payload;\noutput_standardkpis = {}\noutput_standardkpis.measurement = my_payload.name.toUpperCase() + '_STANDARD_KPIS'\noutput_standardkpis.payload = {\n    mean: Math.round(my_payload.mean_result * 1e2)/ 1e2,\n    median: Math.round(my_payload.median_result * 1e2)/ 1e2,\n    stddev: Math.round(my_payload.stddev_result * 1e2)/ 1e2,\n    name: my_payload.name,\n}\n\nreturn output_standardkpis;","outputs":1,"noerr":0,"x":870,"y":820,"wires":[["2cdca5c6f88b0194","bbcadf72240b8428"]]},{"id":"2cdca5c6f88b0194","type":"influxdb out","z":"1ff02d49d32ca74f","influxdb":"4ad3ce8d.582c5","name":"write_influxdb","measurement":"","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"siemens","bucket":"edgedb","x":1200,"y":820,"wires":[]},{"id":"d4be09607b515978","type":"mqtt in","z":"1ff02d49d32ca74f","name":"","topic":"MeanResult","qos":"2","datatype":"auto","broker":"1ab7e97a.bda1e7","nl":false,"rap":false,"inputs":0,"x":110,"y":960,"wires":[["186ea90f99e29d7b"]]},{"id":"8153c1341ba5dcd2","type":"debug","z":"1ff02d49d32ca74f","name":"response mean","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":920,"wires":[]},{"id":"186ea90f99e29d7b","type":"json","z":"1ff02d49d32ca74f","name":"","property":"payload","action":"","pretty":false,"x":510,"y":960,"wires":[["742190e9e7e62ef6"]]},{"id":"742190e9e7e62ef6","type":"function","z":"1ff02d49d32ca74f","name":"store data","func":"my_payload = {};\nmy_payload = msg.payload;\noutput_pd1_mean = {}\noutput_pd1_mean.measurement = my_payload.name.toUpperCase()\noutput_pd1_mean.payload = {\n    value: Math.round(my_payload.power_mean_result * 1e2)/ 1e2,\n    name: my_payload.name,\n}\n\nreturn output_pd1_mean;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":960,"wires":[["b1e47db6fb4093e9","8153c1341ba5dcd2"]]},{"id":"b1e47db6fb4093e9","type":"influxdb out","z":"1ff02d49d32ca74f","influxdb":"4ad3ce8d.582c5","name":"write_influxdb","measurement":"","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"siemens","bucket":"edgedb","x":1200,"y":960,"wires":[]},{"id":"a18ffe23f5be216a","type":"comment","z":"1ff02d49d32ca74f","name":"Data Analytics Results","info":"","x":540,"y":740,"wires":[]},{"id":"ba302b24398e65f4","type":"debug","z":"1ff02d49d32ca74f","name":"mqtt output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":280,"wires":[]},{"id":"d96ed1a32f3598d0","type":"debug","z":"1ff02d49d32ca74f","name":"mqtt output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":300,"wires":[]},{"id":"a4c2bf56b818a462","type":"debug","z":"1ff02d49d32ca74f","name":"mqtt output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]}]