src/solution/IE Flow Creator Flows/flow_data_S7_Connector.json
[
    {
        "id": "9f80fd1f.3bd908",
        "type": "tab",
        "label": "Data Collection",
        "disabled": false,
        "info": "msgoutput={}\nmsgoutput.measurement = msg.topic.split('/').pop;\nmsgoutput.payload = {\n    serverTimestamp: msg.payload.ts.toISOString(),\n    value: Math.round(msg.payload.val * 1e2)/ 1e2,\n    name: msgoutput.measurement,\n}\n\nreturn msgoutput;"
    },
    {
        "id": "47e2db6c.bc64f4",
        "type": "tab",
        "label": "KPI-Calc-Dummy",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8d76188c.4ca908",
        "type": "tab",
        "label": "KPI Estimation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1ab7e97a.bda1e7",
        "type": "mqtt-broker",
        "name": "Databus",
        "broker": "ie-databus",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3e6912e1.eda84e",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "edgedb",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "",
        "rejectUnauthorized": false
    },
    {
        "id": "61b74b3d.7a1df4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "IE Flow Creator Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "74a01d47.796204",
        "type": "comment",
        "z": "47e2db6c.bc64f4",
        "name": "Calculate Total Power Consumption",
        "info": "",
        "x": 800,
        "y": 60,
        "wires": []
    },
    {
        "id": "a9c52624.de37e",
        "type": "function",
        "z": "47e2db6c.bc64f4",
        "name": "Query-List",
        "func": "var a ='\"name\"'\nmsg.query=\"select * from powerdrive1 where \"+a+\"='powerdrive1'\"\nreturn msg; \n/*\nCLI-Funktionen f?r die Influxdb (Auszug)\n\"select * from data1\"\n//Zeigt alle Daten im measuurement an\nSELECT * FROM data where time > '2018-08-09T08:20:39.96Z' and time <= now()\n//Anzeige der measuremebts in einem bestimmten Zeitraum\nselect * from data where value > 80 and value < 85 \n//Filterung der Daten nach Value \n*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "c002def7.6acec"
            ]
        ]
    },
    {
        "id": "156f14e8.290b93",
        "type": "function",
        "z": "47e2db6c.bc64f4",
        "name": "Query-List",
        "func": "var a ='\"name\"'\nmsg.query=\"select * from powerdrive2 where \"+a+\"='powerdrive2'\"\nreturn msg; \n\n\n/*\nCLI-Funktionen f?r die Influxdb (Auszug)\n\"select * from data1\"\n//Zeigt alle Daten im measuurement an\nSELECT * FROM data where time > '2018-08-09T08:20:39.96Z' and time <= now()\n//Anzeige der measuremebts in einem bestimmten Zeitraum\nselect * from data where value > 80 and value < 85 \n//Filterung der Daten nach Value \n*/\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "fbabb1f4.a4e39"
            ]
        ]
    },
    {
        "id": "fbabb1f4.a4e39",
        "type": "influxdb in",
        "z": "47e2db6c.bc64f4",
        "influxdb": "3e6912e1.eda84e",
        "name": "influxdb_query_power2",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 490,
        "y": 220,
        "wires": [
            [
                "5b52c585.f4ce5c"
            ]
        ]
    },
    {
        "id": "5b52c585.f4ce5c",
        "type": "function",
        "z": "47e2db6c.bc64f4",
        "name": "collect_last_power_values",
        "func": "context.data = context.data || {};\n\nswitch (msg.payload[msg.payload.length-1].name) \n{\n    case \"powerdrive1\":\n        context.data.power1 = msg.payload[msg.payload.length-1].value;\n        msg = null;\n        break;\n    case \"powerdrive2\":\n        context.data.power2= msg.payload[msg.payload.length-1].value;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.power1 !== null && context.data.power2 !== null) \n{\n\tmsg2 = {};\n    msg2 = context.data;\n\n    context.data=null;\n\treturn msg2;\n} \nelse\n{\n    \n    return msg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "33ec1798.3b2a4",
                "21eac11c.287d0e"
            ]
        ]
    },
    {
        "id": "5d14904c.09dff",
        "type": "function",
        "z": "47e2db6c.bc64f4",
        "name": "join_and_write_power_Influxdb",
        "func": "total = msg.payload;\n\n\n    Beta = [{\n        measurement: \"GEN_KPI_TotalPower\",\n        fields:{\n            name: \"TotalPower\",\n            value:total,\n            //weitereTags: -100 //(optional) nur 4 Datatypes sind in der Influxdb akzeptiert: Int,Float,String, Bool\n        },\n        timestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 220,
        "wires": [
            [
                "aadf5d13.8ec288",
                "4436b012.90dc"
            ]
        ]
    },
    {
        "id": "4436b012.90dc",
        "type": "influxdb batch",
        "z": "47e2db6c.bc64f4",
        "influxdb": "3e6912e1.eda84e",
        "precision": "",
        "retentionPolicy": "",
        "name": "influxdb_write",
        "x": 1520,
        "y": 180,
        "wires": []
    },
    {
        "id": "c002def7.6acec",
        "type": "influxdb in",
        "z": "47e2db6c.bc64f4",
        "influxdb": "3e6912e1.eda84e",
        "name": "influxdb_query_power1",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "5b52c585.f4ce5c"
            ]
        ]
    },
    {
        "id": "70b8ec30.c1ee84",
        "type": "link in",
        "z": "47e2db6c.bc64f4",
        "name": "",
        "links": [
            "38a14f21.7ff638"
        ],
        "x": 135,
        "y": 220,
        "wires": [
            [
                "a9c52624.de37e",
                "156f14e8.290b93"
            ]
        ]
    },
    {
        "id": "33ec1798.3b2a4",
        "type": "function",
        "z": "47e2db6c.bc64f4",
        "name": "sum_total_power",
        "func": "var arr = [];\nvar mean=0;\nvar sum=0;\n\narr = Object.keys(msg).map(function(key) {\n    return msg[key]\n    })\narr.splice(-1,1)\n\nfor(var i=0; i < arr.length ; i++){\n      sum = sum + arr[i];\n}\n// mean = sum / arr.length; \n\nmsg2 = new Object();\n//msg2.payload = (arr[0] + arr[1] + arr[2]) / arr.length; \n\nmsg2.payload = sum;\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "5d14904c.09dff"
            ]
        ]
    },
    {
        "id": "aadf5d13.8ec288",
        "type": "debug",
        "z": "47e2db6c.bc64f4",
        "name": "KPI-Power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1510,
        "y": 260,
        "wires": []
    },
    {
        "id": "21eac11c.287d0e",
        "type": "debug",
        "z": "47e2db6c.bc64f4",
        "name": "Last Power Values",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "ed6c2211.9dc87",
        "type": "influxdb in",
        "z": "8d76188c.4ca908",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 850,
        "y": 160,
        "wires": [
            [
                "d3638f30.b0612"
            ]
        ]
    },
    {
        "id": "5f01e709.823a7",
        "type": "debug",
        "z": "8d76188c.4ca908",
        "name": "count",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "684dd35d.22d42c",
        "type": "link in",
        "z": "8d76188c.4ca908",
        "name": "input_raw_data",
        "links": [
            "106c19f1.e407c6",
            "38a14f21.7ff638"
        ],
        "x": 35,
        "y": 160,
        "wires": [
            [
                "284b24d0.d1e62c"
            ]
        ]
    },
    {
        "id": "85e47bcc.4db218",
        "type": "influxdb in",
        "z": "8d76188c.4ca908",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "5f01e709.823a7",
                "1f46bf31.9630e1"
            ]
        ]
    },
    {
        "id": "8c9693b6.1b7118",
        "type": "function",
        "z": "8d76188c.4ca908",
        "name": "COUNT",
        "func": "msgQueryCount = {}\nmsgQueryCount.measurement = msg.measurement\nmsgQueryCount.query = 'SELECT COUNT(\"value\") FROM ' + msg.measurement\nreturn msgQueryCount;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "85e47bcc.4db218"
            ]
        ]
    },
    {
        "id": "1f46bf31.9630e1",
        "type": "function",
        "z": "8d76188c.4ca908",
        "name": "GET_LAST_ENTRIES",
        "func": "msgQueryGet = {}\nmsgQueryGet.measurement = msg.measurement\nif (msg.payload[0].count >= 50) {\n    msgQueryGet.query = 'SELECT * FROM ' + msg.measurement + ' ORDER BY time DESC limit 50'\n\n    return msgQueryGet;\n}\n\nelse {return }\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 160,
        "wires": [
            [
                "ed6c2211.9dc87"
            ]
        ]
    },
    {
        "id": "7a3add91.0d9bac",
        "type": "comment",
        "z": "8d76188c.4ca908",
        "name": "### check if measurement has enough entries and get last 5 values if true",
        "info": "",
        "x": 320,
        "y": 20,
        "wires": []
    },
    {
        "id": "d3638f30.b0612",
        "type": "json",
        "z": "8d76188c.4ca908",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 990,
        "y": 160,
        "wires": [
            [
                "1227af00.f77e61",
                "421f5a4c.ca537c"
            ]
        ]
    },
    {
        "id": "1227af00.f77e61",
        "type": "debug",
        "z": "8d76188c.4ca908",
        "name": "response_get",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "c6ca0e76.3c897",
        "type": "comment",
        "z": "8d76188c.4ca908",
        "name": "PowerDrive1 and PowerDrive2 last 50 entries",
        "info": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "368dea4e.45a7a6",
        "type": "influxdb in",
        "z": "8d76188c.4ca908",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 830,
        "y": 400,
        "wires": [
            [
                "24885ffe.06a41"
            ]
        ]
    },
    {
        "id": "a4645113.eacd78",
        "type": "debug",
        "z": "8d76188c.4ca908",
        "name": "mqtt output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1340,
        "y": 460,
        "wires": []
    },
    {
        "id": "d402a9b8.e34bb8",
        "type": "influxdb in",
        "z": "8d76188c.4ca908",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "SELECT COUNT(\"value\") FROM voltagedrive3",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "9b36a07e.e340f"
            ]
        ]
    },
    {
        "id": "9b36a07e.e340f",
        "type": "function",
        "z": "8d76188c.4ca908",
        "name": "GET_LAST_ENTRIES",
        "func": "// gets the value of n, if not yet set takes default value 50\nvar n = context.get('sample_n')|| 50;\n\n\n    \n    msgQueryGet = {}\n    //msgQueryGet.measurement = msg.measurement\n    msgQueryGet.measurement = 'voltagedrive3'\n    if (msg.payload[0].count >= n) {\n        msgQueryGet.SampleNumber = n\n        msgQueryGet.query = 'SELECT \"value\" FROM voltagedrive3 ORDER BY time DESC limit ' + n\n        //msgQueryGet.query = 'SELECT \"value\" FROM ' + msg.measurement + ' limit ' + n\n        return msgQueryGet;\n    }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 400,
        "wires": [
            [
                "368dea4e.45a7a6"
            ]
        ]
    },
    {
        "id": "23981159.ef3ad6",
        "type": "mqtt out",
        "z": "8d76188c.4ca908",
        "name": "Mean",
        "topic": "Mean",
        "qos": "",
        "retain": "",
        "broker": "1ab7e97a.bda1e7",
        "x": 1320,
        "y": 500,
        "wires": []
    },
    {
        "id": "49796cb7.b3885c",
        "type": "comment",
        "z": "8d76188c.4ca908",
        "name": "VoltageDrive3 dynamic sample of entries",
        "info": "",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "f45fc3b6.4549b8",
        "type": "influxdb in",
        "z": "8d76188c.4ca908",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 810,
        "y": 600,
        "wires": [
            [
                "24885ffe.06a41"
            ]
        ]
    },
    {
        "id": "488b6c2e.a5fa14",
        "type": "influxdb in",
        "z": "8d76188c.4ca908",
        "influxdb": "3e6912e1.eda84e",
        "name": "query",
        "query": "SELECT COUNT(\"value\") FROM currentdrive3",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "3b520db9.1aa19a"
            ]
        ]
    },
    {
        "id": "3b520db9.1aa19a",
        "type": "function",
        "z": "8d76188c.4ca908",
        "name": "GET_LAST_ENTRIES",
        "func": "\n\n// gets the value of n, if not yet set takes default value 50\nvar n = context.get('sample_n')|| 50;\n\n\n    \n    msgQueryGet = {}\n    //msgQueryGet.measurement = msg.measurement\n    msgQueryGet.measurement = 'currentdrive3'\n    if (msg.payload[0].count >= n) {\n        msgQueryGet.SampleNumber = n\n        msgQueryGet.query = 'SELECT \"value\" FROM currentdrive3 ORDER BY time DESC limit ' + n\n        //msgQueryGet.query = 'SELECT \"value\" FROM ' + msg.measurement + ' limit ' + n\n        return msgQueryGet;\n    }\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 600,
        "wires": [
            [
                "f45fc3b6.4549b8"
            ]
        ]
    },
    {
        "id": "491aa1fa.7055d",
        "type": "comment",
        "z": "8d76188c.4ca908",
        "name": "CurrentDrive3  dynamic sample of entries",
        "info": "",
        "x": 490,
        "y": 640,
        "wires": []
    },
    {
        "id": "24885ffe.06a41",
        "type": "function",
        "z": "8d76188c.4ca908",
        "name": "manual_join",
        "func": "var tempo_cd3_batch = context.get('cd3_batch')||[];\nvar tempo_vd3_batch = context.get('vd3_batch')||[];\n\nfunction build_analytics_object(){\n    data_obj = {\n        sample_number : msg.SampleNumber,\n        current_drive3_batch : tempo_cd3_batch,\n        voltage_drive3_batch : tempo_vd3_batch,\n    }\n    return data_obj\n}\n\n\nif (msg.measurement == 'currentdrive3'){\n    tempo_cd3_batch = msg.payload\n    context.set('cd3_batch',tempo_cd3_batch)\n    \n}\nelse if (msg.measurement == 'voltagedrive3') {\n    tempo_vd3_batch = msg.payload\n    context.set('vd3_batch',tempo_vd3_batch)\n}\n\nif (tempo_cd3_batch.length > 0 && tempo_vd3_batch.length >0 ) {\n    py_obj={}\n    py_obj.payload = build_analytics_object()\n    tempo_cd3_batch = []\n    tempo_vd3_batch = []\n    context.set('cd3_batch', tempo_cd3_batch)\n    context.set('vd3_batch', tempo_vd3_batch)\n    \n    return py_obj\n    \n}\n\nelse{\n    return\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 500,
        "wires": [
            [
                "a4645113.eacd78",
                "23981159.ef3ad6"
            ]
        ]
    },
    {
        "id": "d9973682.a27638",
        "type": "mqtt in",
        "z": "8d76188c.4ca908",
        "name": "",
        "topic": "StandardKpiResult",
        "qos": "2",
        "datatype": "auto",
        "broker": "1ab7e97a.bda1e7",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "eb6f556.9cd9828",
                "3106d213.32e5ee"
            ]
        ]
    },
    {
        "id": "a7461140.dff8b8",
        "type": "debug",
        "z": "8d76188c.4ca908",
        "name": "response standard kpis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1230,
        "y": 780,
        "wires": []
    },
    {
        "id": "eb6f556.9cd9828",
        "type": "json",
        "z": "8d76188c.4ca908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 820,
        "wires": [
            [
                "7eb8b1b.38d605"
            ]
        ]
    },
    {
        "id": "7eb8b1b.38d605",
        "type": "function",
        "z": "8d76188c.4ca908",
        "name": "store data",
        "func": "my_payload = {};\nmy_payload = msg.payload;\noutput_standardkpis = {}\noutput_standardkpis.measurement = my_payload.name.toUpperCase() + '_STANDARD_KPIS'\noutput_standardkpis.payload = {\n    mean: Math.round(my_payload.mean_result * 1e2)/ 1e2,\n    median: Math.round(my_payload.median_result * 1e2)/ 1e2,\n    stddev: Math.round(my_payload.stddev_result * 1e2)/ 1e2,\n    name: my_payload.name,\n}\n\nreturn output_standardkpis;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 820,
        "wires": [
            [
                "3c38882a.0d1d6",
                "a7461140.dff8b8"
            ]
        ]
    },
    {
        "id": "3c38882a.0d1d6",
        "type": "influxdb out",
        "z": "8d76188c.4ca908",
        "influxdb": "3e6912e1.eda84e",
        "name": "write_influxdb",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 1200,
        "y": 820,
        "wires": []
    },
    {
        "id": "a4d9dc6b.058c",
        "type": "mqtt in",
        "z": "8d76188c.4ca908",
        "name": "",
        "topic": "MeanResult",
        "qos": "2",
        "datatype": "auto",
        "broker": "1ab7e97a.bda1e7",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "a2d21eb4.3188a",
                "8707cb03.4e3de8"
            ]
        ]
    },
    {
        "id": "809a6875.904488",
        "type": "debug",
        "z": "8d76188c.4ca908",
        "name": "response mean",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1210,
        "y": 920,
        "wires": []
    },
    {
        "id": "a2d21eb4.3188a",
        "type": "json",
        "z": "8d76188c.4ca908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 960,
        "wires": [
            [
                "5d63add0.4612cc"
            ]
        ]
    },
    {
        "id": "5d63add0.4612cc",
        "type": "function",
        "z": "8d76188c.4ca908",
        "name": "store data",
        "func": "my_payload = {};\nmy_payload = msg.payload;\noutput_pd1_mean = {}\noutput_pd1_mean.measurement = my_payload.name.toUpperCase()\noutput_pd1_mean.payload = {\n    value: Math.round(my_payload.power_mean_result * 1e2)/ 1e2,\n    name: my_payload.name,\n}\n\nreturn output_pd1_mean;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 960,
        "wires": [
            [
                "1dcaed30.328b73",
                "809a6875.904488"
            ]
        ]
    },
    {
        "id": "1dcaed30.328b73",
        "type": "influxdb out",
        "z": "8d76188c.4ca908",
        "influxdb": "3e6912e1.eda84e",
        "name": "write_influxdb",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 1200,
        "y": 960,
        "wires": []
    },
    {
        "id": "97899fe1.bd60b",
        "type": "comment",
        "z": "8d76188c.4ca908",
        "name": "Data Analytics Results",
        "info": "",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "3106d213.32e5ee",
        "type": "debug",
        "z": "8d76188c.4ca908",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 780,
        "wires": []
    },
    {
        "id": "8707cb03.4e3de8",
        "type": "debug",
        "z": "8d76188c.4ca908",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 920,
        "wires": []
    },
    {
        "id": "421f5a4c.ca537c",
        "type": "mqtt out",
        "z": "8d76188c.4ca908",
        "name": "StandardKpis",
        "topic": "StandardKpis",
        "qos": "",
        "retain": "",
        "broker": "1ab7e97a.bda1e7",
        "x": 1220,
        "y": 160,
        "wires": []
    },
    {
        "id": "38a14f21.7ff638",
        "type": "link out",
        "z": "9f80fd1f.3bd908",
        "name": "data_gen",
        "links": [
            "684dd35d.22d42c",
            "70b8ec30.c1ee84"
        ],
        "x": 1215,
        "y": 480,
        "wires": []
    },
    {
        "id": "20da19e9.da8926",
        "type": "mqtt in",
        "z": "9f80fd1f.3bd908",
        "name": "FA_Drives-Data source",
        "topic": "ie/d/j/simatic/v1/s7c1/dp/r/FA_Drives/default",
        "qos": "2",
        "datatype": "auto",
        "broker": "1ab7e97a.bda1e7",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "971f6ffe.7241f"
            ]
        ]
    },
    {
        "id": "971f6ffe.7241f",
        "type": "function",
        "z": "9f80fd1f.3bd908",
        "name": "Convert S7 Connecor JSON to InfluxDB JSON",
        "func": "var id2NameMap = global.get(\"id2NameMap\")\nvar id2DataTypeMap = global.get(\"id2DataTypeMap\")\n\nmsgoutput={}\n\nlet bulk = JSON.parse(msg.payload);\n//node.warn(bulk)\nmsgoutput.payload = new Array(bulk.vals.size);\n\nfor (var i = 0; i < bulk.vals.length; i++) {\n    record = bulk.vals[i]\n\n    msgoutput.payload[i] = {\n        measurement: id2NameMap.get(record.id),\n        fields: {\n            value: Math.round(record.val * 1e2)/ 1e2,\n            name: id2NameMap.get(record.id),\n            qualitycode: false\n        },\n        timestamp: new Date(record.ts)\n    }\n    \n}\n\nreturn msgoutput;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 280,
        "wires": [
            [
                "d20bf630.ac7c98",
                "50556ca2.120a8c",
                "6d21e9a.2814a98"
            ]
        ]
    },
    {
        "id": "93f44c93.8b63e",
        "type": "comment",
        "z": "9f80fd1f.3bd908",
        "name": "### Map variable id to variable name so that it is human readable ###",
        "info": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "fdc0f327.a560a",
        "type": "mqtt in",
        "z": "9f80fd1f.3bd908",
        "name": "",
        "topic": "ie/m/j/simatic/v1/s7c1/dp",
        "qos": "2",
        "datatype": "auto",
        "broker": "1ab7e97a.bda1e7",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "b18c8995.ce3c7",
                "43428e95.c95d58"
            ]
        ]
    },
    {
        "id": "b18c8995.ce3c7",
        "type": "function",
        "z": "9f80fd1f.3bd908",
        "name": "",
        "func": "var id2NameMap = global.get(\"id2NameMap\")\nvar id2DataTypeMap = global.get(\"id2DataTypeMap\")\n\nif(id2NameMap == undefined || id2DataTypeMap == undefined ){\n    id2NameMap = new Map(); \n    id2DataTypeMap = new Map(); \n}\n\nlet connectionName = \"FA_Drives\"; // Name of the connection\n\n\nlet m = JSON.parse(msg.payload);\n\n\n// Mapping ID -> Variable Name\n// Mapping ID -> Variable Data Type\nm.connections.forEach(connection => \n{\n    if(connection.name == connectionName) {\n        let datapointobjects = connection.dataPoints;\n        \n        datapointobjects.forEach( datapoint => {\n            datapoint.dataPointDefinitions.forEach( definition => {\n                id2NameMap.set(definition.id, definition.name) // Mapping ID -> Variable Name\n                id2DataTypeMap.set(definition.id, definition.dataType) // Mapping ID -> Variable Data Type \n            })\n           \n        })\n    }\n    \n})\n\nglobal.set(\"id2NameMap\", id2NameMap)\nglobal.set(\"id2DataTypeMap\", id2DataTypeMap)\n\nmsg.payload = id2NameMap\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 140,
        "wires": [
            [
                "43428e95.c95d58"
            ]
        ]
    },
    {
        "id": "43428e95.c95d58",
        "type": "debug",
        "z": "9f80fd1f.3bd908",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "5c1c9dcd.546984",
        "type": "comment",
        "z": "9f80fd1f.3bd908",
        "name": "### Retrieve data from S7 connector and replace variable ID with variable Name and puslish as Array ###",
        "info": "",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "d20bf630.ac7c98",
        "type": "debug",
        "z": "9f80fd1f.3bd908",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "50556ca2.120a8c",
        "type": "influxdb batch",
        "z": "9f80fd1f.3bd908",
        "influxdb": "3e6912e1.eda84e",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "284b24d0.d1e62c",
        "type": "switch",
        "z": "8d76188c.4ca908",
        "name": "filter",
        "property": "measurement",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "powerdrive1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "powerdrive2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voltagedrive3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "currentdrive3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "8c9693b6.1b7118"
            ],
            [
                "8c9693b6.1b7118"
            ],
            [
                "d402a9b8.e34bb8"
            ],
            [
                "488b6c2e.a5fa14"
            ]
        ]
    },
    {
        "id": "6d21e9a.2814a98",
        "type": "split",
        "z": "9f80fd1f.3bd908",
        "name": "Split S7 Array",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 910,
        "y": 480,
        "wires": [
            [
                "856fe367.acffd8"
            ]
        ]
    },
    {
        "id": "856fe367.acffd8",
        "type": "function",
        "z": "9f80fd1f.3bd908",
        "name": "Split formatting",
        "func": "var msgoutput = msg.payload\nreturn msgoutput;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 480,
        "wires": [
            [
                "38a14f21.7ff638"
            ]
        ]
    },
    {
        "id": "32a48b8c.b60274",
        "type": "comment",
        "z": "9f80fd1f.3bd908",
        "name": "### Please wait till 50 values are retrived so that you can see the results in the Grafana view ###",
        "info": "",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "5baa825a.490d5c",
        "type": "comment",
        "z": "9f80fd1f.3bd908",
        "name": "### Connection error on MQTT nodes  please do the following steps ###",
        "info": "",
        "x": 310,
        "y": 460,
        "wires": []
    },
    {
        "id": "6d514375.dddf04",
        "type": "comment",
        "z": "9f80fd1f.3bd908",
        "name": "### 1. Open configuration node view ###",
        "info": "",
        "x": 220,
        "y": 500,
        "wires": []
    },
    {
        "id": "fea16ee2.9b9548",
        "type": "comment",
        "z": "9f80fd1f.3bd908",
        "name": "### 2. Double-Click on Databus node and select tab security###",
        "info": "",
        "x": 290,
        "y": 540,
        "wires": []
    },
    {
        "id": "c946b764.ac1338",
        "type": "comment",
        "z": "9f80fd1f.3bd908",
        "name": "### 3. Enter user 'edge' and password 'edge' ###",
        "info": "",
        "x": 240,
        "y": 580,
        "wires": []
    },
    {
        "id": "3bea85d5.8166ea",
        "type": "comment",
        "z": "9f80fd1f.3bd908",
        "name": "### 4. Click 'Finish' and deploy flows again ###",
        "info": "",
        "x": 240,
        "y": 620,
        "wires": []
    }
]