src/solution/IE Flow Creator Flows/flow_data_gen.json
[{"id":"1e3ac1df.ec98fe","type":"tab","label":"Data Collection","disabled":false,"info":""},{"id":"ebd320fc.f9e53","type":"tab","label":"KPI-Calc-Dummy","disabled":false,"info":""},{"id":"51f53148.e7601","type":"tab","label":"KPI Estimation","disabled":false,"info":""},{"id":"1ab7e97a.bda1e7","type":"mqtt-broker","name":"Databus","broker":"ie-databus","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e6912e1.eda84e","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"edgedb","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"32085e1e.4b1322","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IE Flow Creator Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3c75efe2.b1a85","type":"comment","z":"ebd320fc.f9e53","name":"Calculate Total Power Consumption","info":"","x":800,"y":60,"wires":[]},{"id":"a532a013.c432f","type":"function","z":"ebd320fc.f9e53","name":"Query-List","func":"var a ='\"name\"'\nmsg.query=\"select * from powerdrive1 where \"+a+\"='powerdrive1'\"\nreturn msg; \n/*\nCLI-Funktionen f?r die Influxdb (Auszug)\n\"select * from data1\"\n//Zeigt alle Daten im measuurement an\nSELECT * FROM data where time > '2018-08-09T08:20:39.96Z' and time <= now()\n//Anzeige der measuremebts in einem bestimmten Zeitraum\nselect * from data where value > 80 and value < 85 \n//Filterung der Daten nach Value \n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":160,"wires":[["f3664c2d.ad698"]]},{"id":"dbb5f486.0a39f8","type":"function","z":"ebd320fc.f9e53","name":"Query-List","func":"var a ='\"name\"'\nmsg.query=\"select * from powerdrive2 where \"+a+\"='powerdrive2'\"\nreturn msg; \n\n\n/*\nCLI-Funktionen f?r die Influxdb (Auszug)\n\"select * from data1\"\n//Zeigt alle Daten im measuurement an\nSELECT * FROM data where time > '2018-08-09T08:20:39.96Z' and time <= now()\n//Anzeige der measuremebts in einem bestimmten Zeitraum\nselect * from data where value > 80 and value < 85 \n//Filterung der Daten nach Value \n*/\n","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["267ca8b2.d109f8"]]},{"id":"267ca8b2.d109f8","type":"influxdb in","z":"ebd320fc.f9e53","influxdb":"3e6912e1.eda84e","name":"influxdb_query_power2","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":220,"wires":[["6e1bb528.37143c"]]},{"id":"6e1bb528.37143c","type":"function","z":"ebd320fc.f9e53","name":"collect_last_power_values","func":"context.data = context.data || {};\n\nswitch (msg.payload[msg.payload.length-1].name) \n{\n    case \"powerdrive1\":\n        context.data.power1 = msg.payload[msg.payload.length-1].value;\n        msg = null;\n        break;\n    case \"powerdrive2\":\n        context.data.power2= msg.payload[msg.payload.length-1].value;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.power1 !== null && context.data.power2 !== null) \n{\n\tmsg2 = {};\n    msg2 = context.data;\n\n    context.data=null;\n\treturn msg2;\n} \nelse\n{\n    \n    return msg;    \n}\n","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["6ce029c7.423948","5f4e907e.129e3"]]},{"id":"5a673424.a5b3fc","type":"function","z":"ebd320fc.f9e53","name":"join_and_write_power_Influxdb","func":"total = msg.payload;\n\n\n    Beta = [{\n        measurement: \"GEN_KPI_TotalPower\",\n        fields:{\n            name: \"TotalPower\",\n            value:total,\n            //weitereTags: -100 //(optional) nur 4 Datatypes sind in der Influxdb akzeptiert: Int,Float,String, Bool\n        },\n        timestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":220,"wires":[["d167f24.824e51","bfd16d17.9c1b"]]},{"id":"bfd16d17.9c1b","type":"influxdb batch","z":"ebd320fc.f9e53","influxdb":"3e6912e1.eda84e","precision":"","retentionPolicy":"","name":"influxdb_write","x":1520,"y":180,"wires":[]},{"id":"f3664c2d.ad698","type":"influxdb in","z":"ebd320fc.f9e53","influxdb":"3e6912e1.eda84e","name":"influxdb_query_power1","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":160,"wires":[["6e1bb528.37143c"]]},{"id":"7f864866.e31828","type":"comment","z":"1e3ac1df.ec98fe","name":"### Generate dummy data  and storage in influxdb ###","info":"","x":320,"y":700,"wires":[]},{"id":"f031aaf9.b3a008","type":"link in","z":"ebd320fc.f9e53","name":"","links":["3e5dc939.97a5b6","5ac7bb60.47f6d4"],"x":135,"y":220,"wires":[["a532a013.c432f","dbb5f486.0a39f8"]]},{"id":"6ce029c7.423948","type":"function","z":"ebd320fc.f9e53","name":"sum_total_power","func":"var arr = [];\nvar mean=0;\nvar sum=0;\n\narr = Object.keys(msg).map(function(key) {\n    return msg[key]\n    })\narr.splice(-1,1)\n\nfor(var i=0; i < arr.length ; i++){\n      sum = sum + arr[i];\n}\n// mean = sum / arr.length; \n\nmsg2 = new Object();\n//msg2.payload = (arr[0] + arr[1] + arr[2]) / arr.length; \n\nmsg2.payload = sum;\nreturn msg2;","outputs":1,"noerr":0,"x":1010,"y":220,"wires":[["5a673424.a5b3fc"]]},{"id":"d167f24.824e51","type":"debug","z":"ebd320fc.f9e53","name":"KPI-Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1510,"y":260,"wires":[]},{"id":"5f4e907e.129e3","type":"debug","z":"ebd320fc.f9e53","name":"Last Power Values","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":160,"wires":[]},{"id":"68266c44.e2ec64","type":"influxdb in","z":"51f53148.e7601","influxdb":"3e6912e1.eda84e","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":850,"y":160,"wires":[["d4b5a0cd.8481e"]]},{"id":"4ebad24a.9daaec","type":"debug","z":"51f53148.e7601","name":"count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":120,"wires":[]},{"id":"6403d885.dae7c8","type":"link in","z":"51f53148.e7601","name":"input_raw_data","links":["5ac7bb60.47f6d4"],"x":55,"y":160,"wires":[["8db93c61.9657c"]]},{"id":"d4f641fc.c9c6a","type":"influxdb in","z":"51f53148.e7601","influxdb":"3e6912e1.eda84e","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":450,"y":160,"wires":[["4ebad24a.9daaec","7f7ffd01.63d884"]]},{"id":"2bf86f36.ef639","type":"function","z":"51f53148.e7601","name":"COUNT","func":"msgQueryCount = {}\nmsgQueryCount.measurement = msg.payload[0].measurement\nmsgQueryCount.query = 'SELECT COUNT(\"value\") FROM ' + msg.payload[0].measurement\n\nreturn msgQueryCount;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["d4f641fc.c9c6a"]]},{"id":"7f7ffd01.63d884","type":"function","z":"51f53148.e7601","name":"GET_LAST_ENTRIES","func":"msgQueryGet = {}\nmsgQueryGet.measurement = msg.measurement\nif (msg.payload[0].count >= 50) {\n    msgQueryGet.query = 'SELECT * FROM ' + msg.measurement + ' ORDER BY time DESC limit 50'\n\n    return msgQueryGet;\n}\n\nelse {return }\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":160,"wires":[["68266c44.e2ec64"]]},{"id":"cd669f33.f4e81","type":"comment","z":"51f53148.e7601","name":"### check if measurement has enough entries and get last 5 values if true","info":"","x":320,"y":20,"wires":[]},{"id":"d4b5a0cd.8481e","type":"json","z":"51f53148.e7601","name":"","property":"payload","action":"obj","pretty":false,"x":990,"y":160,"wires":[["8da3b329.535c6","1a5c10da.5c8a3f"]]},{"id":"8da3b329.535c6","type":"debug","z":"51f53148.e7601","name":"response_get","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1220,"y":220,"wires":[]},{"id":"91294190.edd47","type":"comment","z":"51f53148.e7601","name":"PowerDrive1 and PowerDrive2 last 50 entries","info":"","x":210,"y":80,"wires":[]},{"id":"379f5c56.f3a1b4","type":"influxdb in","z":"51f53148.e7601","influxdb":"3e6912e1.eda84e","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":830,"y":400,"wires":[["f3b1c053.e11fa"]]},{"id":"10229f6e.198151","type":"debug","z":"51f53148.e7601","name":"mqtt output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1340,"y":460,"wires":[]},{"id":"24c6ca07.d16ef6","type":"influxdb in","z":"51f53148.e7601","influxdb":"3e6912e1.eda84e","name":"query","query":"SELECT COUNT(\"value\") FROM voltagedrive3","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":400,"wires":[["888e1979.4c1eb8"]]},{"id":"888e1979.4c1eb8","type":"function","z":"51f53148.e7601","name":"GET_LAST_ENTRIES","func":"// gets the value of n, if not yet set takes default value 50\nvar n = context.get('sample_n')|| 50;\n\n\n    \n    msgQueryGet = {}\n    //msgQueryGet.measurement = msg.measurement\n    msgQueryGet.measurement = 'voltagedrive3'\n    if (msg.payload[0].count >= n) {\n        msgQueryGet.SampleNumber = n\n        msgQueryGet.query = 'SELECT \"value\" FROM voltagedrive3 ORDER BY time DESC limit ' + n\n        //msgQueryGet.query = 'SELECT \"value\" FROM ' + msg.measurement + ' limit ' + n\n        return msgQueryGet;\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":400,"wires":[["379f5c56.f3a1b4"]]},{"id":"c814d4c8.f08e88","type":"mqtt out","z":"51f53148.e7601","name":"Mean","topic":"Mean","qos":"","retain":"","broker":"1ab7e97a.bda1e7","x":1320,"y":500,"wires":[]},{"id":"e4160349.35c7","type":"comment","z":"51f53148.e7601","name":"VoltageDrive3 dynamic sample of entries","info":"","x":490,"y":360,"wires":[]},{"id":"678b9097.ab16c","type":"influxdb in","z":"51f53148.e7601","influxdb":"3e6912e1.eda84e","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":810,"y":600,"wires":[["f3b1c053.e11fa"]]},{"id":"7a171df3.9b88d4","type":"influxdb in","z":"51f53148.e7601","influxdb":"3e6912e1.eda84e","name":"query","query":"SELECT COUNT(\"value\") FROM currentdrive3","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":600,"wires":[["eac993ee.bf572"]]},{"id":"eac993ee.bf572","type":"function","z":"51f53148.e7601","name":"GET_LAST_ENTRIES","func":"\n\n// gets the value of n, if not yet set takes default value 50\nvar n = context.get('sample_n')|| 50;\n\n\n    \n    msgQueryGet = {}\n    //msgQueryGet.measurement = msg.measurement\n    msgQueryGet.measurement = 'currentdrive3'\n    if (msg.payload[0].count >= n) {\n        msgQueryGet.SampleNumber = n\n        msgQueryGet.query = 'SELECT \"value\" FROM currentdrive3 ORDER BY time DESC limit ' + n\n        //msgQueryGet.query = 'SELECT \"value\" FROM ' + msg.measurement + ' limit ' + n\n        return msgQueryGet;\n    }\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":600,"wires":[["678b9097.ab16c"]]},{"id":"57e2f98f.209c88","type":"comment","z":"51f53148.e7601","name":"CurrentDrive3  dynamic sample of entries","info":"","x":490,"y":640,"wires":[]},{"id":"8db93c61.9657c","type":"switch","z":"51f53148.e7601","name":"filter","property":"payload[0].measurement","propertyType":"msg","rules":[{"t":"eq","v":"powerdrive1","vt":"str"},{"t":"eq","v":"powerdrive2","vt":"str"},{"t":"eq","v":"voltagedrive3","vt":"str"},{"t":"eq","v":"currentdrive3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":150,"y":160,"wires":[["2bf86f36.ef639"],["2bf86f36.ef639"],["24c6ca07.d16ef6"],["7a171df3.9b88d4"]]},{"id":"f3b1c053.e11fa","type":"function","z":"51f53148.e7601","name":"manual_join","func":"var tempo_cd3_batch = context.get('cd3_batch')||[];\nvar tempo_vd3_batch = context.get('vd3_batch')||[];\n\nfunction build_analytics_object(){\n    data_obj = {\n        sample_number : msg.SampleNumber,\n        current_drive3_batch : tempo_cd3_batch,\n        voltage_drive3_batch : tempo_vd3_batch,\n    }\n    return data_obj\n}\n\n\nif (msg.measurement == 'currentdrive3'){\n    tempo_cd3_batch = msg.payload\n    context.set('cd3_batch',tempo_cd3_batch)\n    \n}\nelse if (msg.measurement == 'voltagedrive3') {\n    tempo_vd3_batch = msg.payload\n    context.set('vd3_batch',tempo_vd3_batch)\n}\n\nif (tempo_cd3_batch.length > 0 && tempo_vd3_batch.length >0 ) {\n    py_obj={}\n    py_obj.payload = build_analytics_object()\n    tempo_cd3_batch = []\n    tempo_vd3_batch = []\n    context.set('cd3_batch', tempo_cd3_batch)\n    context.set('vd3_batch', tempo_vd3_batch)\n    \n    return py_obj\n    \n}\n\nelse{\n    return\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":500,"wires":[["10229f6e.198151","c814d4c8.f08e88"]]},{"id":"a87e99ad.4436a8","type":"mqtt in","z":"51f53148.e7601","name":"","topic":"StandardKpiResult","qos":"2","datatype":"auto","broker":"1ab7e97a.bda1e7","x":130,"y":820,"wires":[["f35be5b5.0e86d8","e9215d7c.1ce9"]]},{"id":"81a599b5.543568","type":"debug","z":"51f53148.e7601","name":"response standard kpis","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":780,"wires":[]},{"id":"f35be5b5.0e86d8","type":"json","z":"51f53148.e7601","name":"","property":"payload","action":"","pretty":false,"x":510,"y":820,"wires":[["bffbb59a.4be5f8"]]},{"id":"bffbb59a.4be5f8","type":"function","z":"51f53148.e7601","name":"store data","func":"my_payload = {};\nmy_payload = msg.payload;\noutput_standardkpis = {}\noutput_standardkpis.measurement = my_payload.name.toUpperCase() + '_STANDARD_KPIS'\noutput_standardkpis.payload = {\n    mean: Math.round(my_payload.mean_result * 1e2)/ 1e2,\n    median: Math.round(my_payload.median_result * 1e2)/ 1e2,\n    stddev: Math.round(my_payload.stddev_result * 1e2)/ 1e2,\n    name: my_payload.name,\n}\n\nreturn output_standardkpis;","outputs":1,"noerr":0,"x":870,"y":820,"wires":[["f8e7d568.965e98","81a599b5.543568"]]},{"id":"f8e7d568.965e98","type":"influxdb out","z":"51f53148.e7601","influxdb":"3e6912e1.eda84e","name":"write_influxdb","measurement":"","precision":"","retentionPolicy":"","x":1200,"y":820,"wires":[]},{"id":"13713aa9.c78295","type":"mqtt in","z":"51f53148.e7601","name":"","topic":"MeanResult","qos":"2","datatype":"auto","broker":"1ab7e97a.bda1e7","x":110,"y":960,"wires":[["e987345b.3e0a28","9fc605db.0dce28"]]},{"id":"d765a47a.0f1738","type":"debug","z":"51f53148.e7601","name":"response mean","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":920,"wires":[]},{"id":"e987345b.3e0a28","type":"json","z":"51f53148.e7601","name":"","property":"payload","action":"","pretty":false,"x":510,"y":960,"wires":[["929ec559.65f598"]]},{"id":"929ec559.65f598","type":"function","z":"51f53148.e7601","name":"store data","func":"my_payload = {};\nmy_payload = msg.payload;\noutput_pd1_mean = {}\noutput_pd1_mean.measurement = my_payload.name.toUpperCase()\noutput_pd1_mean.payload = {\n    value: Math.round(my_payload.power_mean_result * 1e2)/ 1e2,\n    name: my_payload.name,\n}\n\nreturn output_pd1_mean;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":960,"wires":[["4ad4bc64.500cd4","d765a47a.0f1738"]]},{"id":"4ad4bc64.500cd4","type":"influxdb out","z":"51f53148.e7601","influxdb":"3e6912e1.eda84e","name":"write_influxdb","measurement":"","precision":"","retentionPolicy":"","x":1200,"y":960,"wires":[]},{"id":"7f2b7b4f.43b104","type":"comment","z":"51f53148.e7601","name":"Data Analytics Results","info":"","x":540,"y":740,"wires":[]},{"id":"8d20df72.30e49","type":"inject","z":"1e3ac1df.ec98fe","name":"n-samples","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"samples_number_n","payload":"20","payloadType":"num","x":250,"y":940,"wires":[["962e0dae.0c0fc","aeff61ea.6e5c6","36232e1e.ae9902","cddfec7f.da82d"]]},{"id":"cddfec7f.da82d","type":"function","z":"1e3ac1df.ec98fe","name":"Write_KPI_PowerDrive1_Influxdb","func":"if (msg!==null)\n{\nmean = msg.payload;\n    Beta = [{\n\n        measurement: \"powerdrive1\",\n        fields:{\n            name: \"powerdrive1\",\n            value:(Math.random() * (999.0 - 750.0 + 1) + 750.0),\n            qualitycode: false\n            //weitereTags: -100 //(optional) nur 4 Datatypes sind in der Influxdb akzeptiert: Int,Float,String, Bool\n        },\n        timestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":860,"wires":[["654bddfa.0dea14","c335b0b8.10309","5ac7bb60.47f6d4"]]},{"id":"962e0dae.0c0fc","type":"function","z":"1e3ac1df.ec98fe","name":"Write_KPI_PowerDrive2_Influxdb","func":"if (msg!==null)\n{\nmean = msg.payload;\n    Beta = [{\n//values between 800 and 999 Watt\n        measurement: \"powerdrive2\",\n        fields:{\n            name: \"powerdrive2\",\n            value:(Math.random() * (999.0 - 800.0 + 1) + 800.0),\n            qualitycode: false\n            //weitereTags: -100 //(optional) nur 4 Datatypes sind in der Influxdb akzeptiert: Int,Float,String, Bool\n        },\n        timestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":920,"wires":[["b361d91a.27dee8","c335b0b8.10309","5ac7bb60.47f6d4"]]},{"id":"aeff61ea.6e5c6","type":"function","z":"1e3ac1df.ec98fe","name":"Write_KPI_VoltageDrive3_Influxdb","func":"if (msg!==null)\n{\nmean = msg.payload;\n    Beta = [{\n//values between 48 and 50 Volt\n        measurement: \"voltagedrive3\",\n        fields:{\n            name: \"voltagedrive3\",\n            value:(Math.random() * (50.0 - 48.0) + 48.0),\n            qualitycode: false\n            \n        },\n        ttimestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":980,"wires":[["c335b0b8.10309","cc93d835.a6dbf8","5ac7bb60.47f6d4"]]},{"id":"36232e1e.ae9902","type":"function","z":"1e3ac1df.ec98fe","name":"Write_KPI_CurrentDrive3_Influxdb","func":"if (msg!==null)\n{\nmean = msg.payload;\n    Beta = [{\n//values between 18 and 20 Ampere\n        measurement: \"currentdrive3\",\n        fields:{\n            name: \"currentdrive3\",\n            value:(Math.random() * (20.0 - 18.0) + 18.0),\n            qualitycode: false\n            \n        },\n        timestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1040,"wires":[["c335b0b8.10309","9bb1abc8.eb78a8","5ac7bb60.47f6d4"]]},{"id":"c335b0b8.10309","type":"influxdb batch","z":"1e3ac1df.ec98fe","influxdb":"3e6912e1.eda84e","precision":"","retentionPolicy":"","name":"write_data_influxdb","x":990,"y":940,"wires":[]},{"id":"5ac7bb60.47f6d4","type":"link out","z":"1e3ac1df.ec98fe","name":"data_gen","links":["6403d885.dae7c8","f031aaf9.b3a008"],"x":915,"y":1100,"wires":[]},{"id":"654bddfa.0dea14","type":"debug","z":"1e3ac1df.ec98fe","name":"KPI-Result_PowerDrive1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":860,"wires":[]},{"id":"b361d91a.27dee8","type":"debug","z":"1e3ac1df.ec98fe","name":"KPI-Result_PowerDrive2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":900,"wires":[]},{"id":"cc93d835.a6dbf8","type":"debug","z":"1e3ac1df.ec98fe","name":"KPI-Result_VoltageDrive3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":1000,"wires":[]},{"id":"9bb1abc8.eb78a8","type":"debug","z":"1e3ac1df.ec98fe","name":"KPI-Result_CurrentDrive3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":1040,"wires":[]},{"id":"e9215d7c.1ce9","type":"debug","z":"51f53148.e7601","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":780,"wires":[]},{"id":"9fc605db.0dce28","type":"debug","z":"51f53148.e7601","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":920,"wires":[]},{"id":"1a5c10da.5c8a3f","type":"mqtt out","z":"51f53148.e7601","name":"StandardKpis","topic":"StandardKpis","qos":"","retain":"","broker":"1ab7e97a.bda1e7","x":1220,"y":160,"wires":[]}]